@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --headerBg: rgba(255, 144, 14, 0.1);
  --darkOne: #131313;
  --darkTwo: #424242;
  --darkThree: #727272;
  --action: #ff900e;
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.text-dark1 {
  color: var(--darkOne) !important;
}

.text-dark2 {
  color: var(--darkTwo) !important;
}

.text-dark3 {
  color: var(--darkThree) !important;
}

.text-action {
  color: var(--action) !important;
}
/* action button */
.btn-action {
  padding: 20px 25px;
  background-color: var(--action);
  color: #fff;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
  border: 2px solid var(--action);
}

.btn-action:hover {
  background-color: transparent;
  color: var(--action);
}

.transition {
  transition: 0.1s ease-in-out;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* Header section */
.header_and_banner {
  padding-top: 50px;

  background-color: var(--headerBg);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.nav .logo h3 a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--darkOne);
  line-height: 1;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.nav .logo h3 a:hover {
  color: var(--action);
}

.nav .menu ul {
  display: flex;
  gap: 30px;
}

.nav .menu ul li a {
  color: var(--darkTwo);
  transition: 0.2s ease-in-out;
  font-weight: 500;
  font-size: 18px;
}

.nav .menu ul li a:hover {
  color: var(--action);
}

/* **********
    Banner section
*/
.banner {
  text-align: center;
  margin-bottom: 85px;
}

.banner .banner_text {
  margin-bottom: 50px;
}

.banner .banner_title {
  font-size: 64px;
  color: var(--darkOne);
  margin-bottom: 30px;
}
.banner .banner_description {
  color: var(--darkThree);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.banner .action a {
  padding: 20px 25px;
  background-color: var(--action);
  color: #fff;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
  border: 2px solid var(--action);
}

.banner .action a:hover {
  background-color: transparent;
  color: var(--action);
}

.banner_image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* ***********
team section
*/
.team_section {
  margin-bottom: 130px;
}
.team_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}

.team_image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.team_image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* team text section */

.team_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.team_text h3 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 24px;
}

.team_text p {
  font-weight: 400;
  size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}

/* *************
  feature section 
*/

.feature_section {
  margin-bottom: 100px;
}

.feature_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a f"
    "b f"
    "c f"
    "d f"
    "e f";
}

#f-1 {
  grid-area: a;
}

#f-2 {
  grid-area: b;
}

#f-3 {
  grid-area: c;
}

#f-4 {
  grid-area: d;
}

#f-5 {
  grid-area: e;
}

#f-6 {
  grid-area: f;
}

.f_exp_container {
  display: inline-block;
}

.f_experience {
  background-color: var(--action);
  padding: 45px 42px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.f_experience a {
  font-size: 65px;
  display: inline-block;
  color: #fff;
}

.f_experience span {
  font-size: 25px;
  color: #fff;
}

.feature_title h3 {
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  margin-bottom: 24px;
}

/* feature content */

.feature {
  display: flex;
  align-items: center;
}

.feature_content {
  max-width: 580px;
}

.feature_box {
  max-width: 580px;
  padding: 30px; 
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.feature_box h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.feature_box p{
  font-size: 16px;
  line-height: 26px;
}

/* ** feature image  */
.feature_image_container {
  position: relative;  
  padding-left: 50px;
}

.f_exp_container{
  position: absolute;
  left: 0;
  bottom:-100px;
}


.hide{
  display: none;
}
