@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --headerBg: rgba(255, 144, 14, 0.1);
  --darkOne: #131313;
  --darkTwo: #424242;
  --darkThree: #727272;
  --action: #ff900e;
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.section_title{
  font-size: 45px;  
}

.text-dark1 {
  color: var(--darkOne) !important;
}

.text-dark2 {
  color: var(--darkTwo) !important;
}

.text-dark3 {
  color: var(--darkThree) !important;
}

.text-action {
  color: var(--action) !important;
}
/* action button */
.btn-action {
  padding: 20px 25px;
  background-color: var(--action);
  color: #fff;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
  border: 2px solid var(--action);
}

.btn-action:hover {
  background-color: transparent;
  color: var(--action);
}

.transition {
  transition: 0.1s ease-in-out;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* Header section */
.header_and_banner {
  padding-top: 50px;

  background-color: var(--headerBg);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.nav .logo h3 a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--darkOne);
  line-height: 1;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.nav .logo h3 a:hover {
  color: var(--action);
}

.nav .menu ul {
  display: flex;
  gap: 30px;
}

.nav .menu ul li a {
  color: var(--darkTwo);
  transition: 0.2s ease-in-out;
  font-weight: 500;
  font-size: 18px;
}

.nav .menu ul li a:hover {
  color: var(--action);
}

/* **********
    Banner section
*/
.banner {
  text-align: center;
  margin-bottom: 85px;
}

.banner .banner_text {
  margin-bottom: 50px;
}

.banner .banner_title {
  font-size: 64px;
  color: var(--darkOne);
  margin-bottom: 30px;
}
.banner .banner_description {
  color: var(--darkThree);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.banner .action a {
  padding: 20px 25px;
  background-color: var(--action);
  color: #fff;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  transition: 0.1s ease-in-out;
  border: 2px solid var(--action);
}

.banner .action a:hover {
  background-color: transparent;
  color: var(--action);
}

.banner_image img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* ***********
team section
*/
.team_section {
  margin-bottom: 130px;
}
.team_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
}

.team_image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.team_image img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* team text section */

.team_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.team_text h3 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 24px;
}

.team_text p {
  font-weight: 400;
  size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}

/* *************
  feature section 
*/

.feature_section {
  margin-bottom: 100px;
}

.feature_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "a f"
    "b f"
    "c f"
    "d f"
    "e f";
}

#f-1 {
  grid-area: a;
}

#f-2 {
  grid-area: b;
}

#f-3 {
  grid-area: c;
}

#f-4 {
  grid-area: d;
}

#f-5 {
  grid-area: e;
}

#f-6 {
  grid-area: f;
}



.feature_title h3 {
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  margin-bottom: 24px;
}

/* feature content */

.feature {
  display: flex;
  align-items: center;
}

.feature_content {
  max-width: 580px;
}
.feature_content p{
  margin-bottom: 30px;
}

.feature_box {
  max-width: 580px;
  padding: 30px; 
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 30px;
}

.feature_box h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.feature_box p{
  font-size: 16px;
  line-height: 26px;
}

/* ** feature image  */
.feature_image_container {
  padding-left: 50px;
}


.f_exp_container {
  display: inline-block;
}


.architect_img{
  position: relative;
}

.f_exp_container{
  position: absolute;
  left: 0;
  bottom:-50px;
}

.f_experience {
  background-color: var(--action);
  padding: 45px 42px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.f_experience a {
  font-size: 65px;
  display: inline-block;
  color: #fff;
}

.f_experience span {
  font-size: 25px;
  color: #fff;
}

/* *************
  facts section
*/

.facts{
  margin-bottom: 100px;
}

.facts_title{
 max-width: 40%;
 margin-bottom: 100px;
}

.facts_title p{
  color: var(--darkThree);
  font-size: 16px;
  line-height: 26px;
}

/* **************
fact box

*/
.fact_box_container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}

.fact_box{
   border: 1px solid var(--action);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 45px 36px;
}
.fact_box img{
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
}

.fact_box:hover img {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.fact_box h3{
  font-size: 45px;
  color: var(--darkTwo);
  margin-bottom: 10px;
}

.fact_box p{
  font-size: 20px;
  text-transform: capitalize;
  color: var(--darkThree);
}

.sponsor{
  margin-bottom: 130px;
}

.sponsor_title{
  max-width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.sponsor_logos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}





/* .s_logo::after{
  width: 100%;
  height: 100%;
  z-index: 2;
  ba
} */

.s_logo img{
  width: 170px;
  filter: grayscale(100%)
}

.footer{
  padding: 40px;
  text-align: center;
  background-color: var(--headerBg);
}

.hide{
  display: none;
}
